
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
*::after{
  margin: 0;
  padding: 0;
}
*::before{
  margin: 0;
  padding: 0;
}
button,input{
  background: transparent;
  border:none;
  outline: none;
}
ul,ol,li{
  list-style: none;
}

.clearfix:after{
  content: '';
  display: block; /*或者 table*/
  clear: both;
}
.clearfix{
  zoom: 1; /* IE 兼容*/
}

